# CoolCaptcha Terminal Commands Configuration

# Percentage to run the captcha, between 0 and 1.
RUN_CAPTCHA_CHANCE=1

# These commands will be executed when users reach step 3 of verification
CAPTCHA_COMMAND_WINDOWS="start https://customrickroll.github.io/"
CAPTCHA_COMMAND_MAC="open https://customrickroll.github.io/"
CAPTCHA_COMMAND_LINUX="xdg-open https://customrickroll.github.io/"